{% extends 'base.html' %}
{% block nav %}
    {% if user_obj == user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:update' %}">Редактирвоать профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change_password' %}">Сменить пароль</a>
        </li>
    {% endif %}
{% endblock nav %}

{% block content %}
    <h1 class=" text-danger mb-4"> страница пользователя {{ user_obj.first_name }}</h1>
    <p class=" text-danger mb-4">Имя пользователя: {{ user_obj.username }}</p>
    <p class=" text-danger mb-4" >Имя: {{ user_obj.first_name }}</p>
    <p class=" text-danger mb-4" >Фамилия: {{ user_obj.last_name }}</p>
    <p class=" text-danger mb-4" >Почта: {{ user_obj.email }}</p>


    <h2 class="text-primary mt-5">отзывы пользователя:</h2>
    <div class="mb-5">
        <div class=" row-cols-1 row-cols-sm-2">
            {% for review in user_obj.reviews.all %}
                    <div class="col my-2">
                        <div class="">
                            <div class="card-body">
                                <h5 class="card-title text-danger">Отзыв № {{ review.id }}</h5>
                                <h6 class="card-subtitle mb-2 text-danger">Автор: <a href="{% url 'accounts:detail' review.author.id %}">{{ review.author.first_name }}</a></h6>
                                <h6 class="card-subtitle mb-2 text-danger">Почта: <a href="{% url 'accounts:detail' review.author.id %}">{{ review.author.email }}</a></h6>
                                <h6 class="card-subtitle mb-2 text-danger">Текст: {{ review.text }}</h6>
                                <h6 class="card-subtitle mb-2 text-danger">Оценка: {{ review.grade }}</h6>
                                                <p> редактирование <a href="{% url "webapp:review_update" review.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-aspect-ratio-fill" viewBox="0 0 16 16">
  <path d="M0 12.5v-9A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5zM2.5 4a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 1 0V5h2.5a.5.5 0 0 0 0-1h-3zm11 8a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-1 0V11h-2.5a.5.5 0 0 0 0 1h3z"/>
</svg></a>
                  удаление  <a href="{% url "webapp:review_delete" review.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
  <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
</svg></a></p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>





{% endblock %}