{% extends 'base.html' %}


{% block title %}Сменить пароль{% endblock %}


{% block nav %}
    {% if user_object == user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "accounts:update" %}">Редактировать профиль</a>
        </li>
    {% endif %}
{% endblock nav %}


{% block content %}

    <h1>Сменить пароль</h1>

    <form method="POST">
        {% include 'partial/form.html' with button_text='Изменить' %}
    </form>
    <a class="my-3 btn btn-danger w-50" href="{% url "accounts:detail" user.pk %}">Отмена</a>
{% endblock %}