{% extends 'base.html' %}

{% block title %}
    Добавление отзыва
{% endblock %}

{% block nav %}

{% endblock %}

{% block  content %}
    <div class="container">
        <div class=" my-5">
            <h1 class="text-danger">Добавление нового отзыва</h1>
        </div>
        <div>
            <form method="post">
                {% include 'partial/form.html' with button_text='Создать' %}
            </form>
        </div>
        <div class="my-3">
            <a class="btn btn-danger w-50" href={% url 'webapp:product_index' %}>Отмена</a>
        </div>
    </div>
{% endblock %}