{% extends 'base.html' %}

{% block title %}
    Product {{ project.pk }}
{% endblock %}

{% block nav %}
        {% if perms.webapp.change_product %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'webapp:product_update' product.pk %}>Изменить товар</a>
            </li>
        {% endif %}
        {% if perms.webapp.delete_product %}
            <li class="nav-item">
                <a class="nav-link text-danger" href={% url 'webapp:product_delete' product.pk %}>Удалить товар</a>
            </li>
        {% endif %}
        {% if user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link text-success" href={% url 'webapp:review_create' product.pk %}>Добавить отзыв</a>
            </li>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center my-5">
            <h1 class="text-success"> Просмотр товара №{{ product.id }}</h1>
        </div>
        <div class="alert alert-success" role="alert">
            <h6>Название: {{ product.name }}</h6>
            <h6>Категория: {{ product.category }}</h6>
            <p>Описание: {{ product.description }}</p>
            <p>Cредняя оценка: {{ product.average }}</p>
            {% if product.picture %}
                <img class="avatar" src="{{ product.picture.url }}" width="250" height="250" alt="user picture">
            {% else %}
                <img class="avatar"
                     src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg"
                     width="250" height="250" alt="user picture">
            {% endif %}
        </div>
                <div class="text-center my-4" role="alert">
                    <h2>Отзывы товара</h2>
                </div>
                <div class="alert alert-light" role="alert">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
                        {% for review in product.reviews.all %}
                            {% if review.status == True %}
                            <div class="col my-2">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Отзыв № {{ review.id }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Автор: <a href="{% url 'accounts:detail' review.author.id %}">{{ review.author.first_name }}</a></h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Почта: <a href="{% url 'accounts:detail' review.author.id %}">{{ review.author.email }}</a></h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Текст: {{ review.text }}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">Оценка: {{ review.grade }}</h6>
                                        <a href="{% url "webapp:review_update" review.pk %}" class="card-link">Редактировать</a>
                                        <a href="{% url "webapp:review_delete" review.pk %}" class="card-link">Удалить</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

    </div>
{% endblock %}